<a href="https://colab.research.google.com/github/cateto/python4NLP/blob/main/kMeans/sklearn_k_means_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [39]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [40]:
import pandas as pd

save_path = "/content/drive/MyDrive/sentence_sim/sampling_data_코로나_5.json"

In [41]:
import json
with open(save_path, 'r') as datafile:
    data = json.load(datafile)
df = pd.DataFrame(data)

In [42]:
target_df = df

In [43]:
del df

In [44]:
db_array = np.array(target_df['embedding'].to_list(), dtype=np.float32)

In [47]:
from sklearn.cluster import KMeans
import time
import numpy as np

num_clusters = 4

# K means 를 정의하고 학습시킨다.
kmeans_clustering = KMeans( n_clusters = num_clusters )
idx = kmeans_clustering.fit_predict( db_array )
target_df['topic'] = idx

In [49]:
target_df[:10]

                      id  ... topic
0  TW1462521192577781763  ...     2
1  TW1461602129052049410  ...     2
2  TW1460233131907108868  ...     3
3  TW1459557792130691072  ...     2
4  TW1458395419847712771  ...     2
5  TW1457633998142803969  ...     0
6  TW1456824229236641794  ...     1
7  TW1456647959538397195  ...     2
8  TW1456309530451578880  ...     2
9  TW1455944132183019524  ...     2

[10 rows x 10 columns]

In [50]:
target_df['title'][5] # topic 0

'코로나19로 인해 집합금지 또는 영업제한을 겪은 소상공인과 소상공인 임차인의 임대료를 인하해주고 세액공제를 받은 ‘착한 임대인’ 등 136만명에 대해 종합소득세 중간예납 기한이 3개월 연장됐다.\nhttps://t.co/duLUXCEM4W'

In [51]:
target_df['title'][6] # topic 1

'코로나 팬데믹 이전과 지금 상황을 비교해 보십시오\n\n마스크 진단검사 사회적거리두기 격리 영업제한 백신접종(사실상 강제접종) 백신패스 신체의 자유제한 집회자유 통제 코로나 걸릴까봐 서로가 서로를 의심 감염에… https://t.co/7zgKR7IDZa'

In [52]:
target_df['title'][7] # topic 2

'코로나 영업제한 풀린게 이렇게까지 크리티컬할줄이야... N차 달리고싶자나...'